/* Main reporting style */
#kreport-content {
  height: 100%;
}

#kreport-toolbox {
  float: right;
  width: 300px;
  height: 100%;
}

.kreport-navbar {
  margin-bottom: 0px;
}

#kreport-canvas {
  overflow: auto;
  height: 100%;
  background-color: #EEE;
}

#kreport-page {
  margin: 1em auto;
  width: 21cm;
  height: 29.7cm;
  background-color: #FCFCFC;
  border: solid 1px #BBB;
  box-shadow: 0px 0px 5px #CCC, 2px 2px 4px #999;
}

#kreport-page-content {
  margin: 1cm;
  width: 19cm;
  height: 27.7cm;
  border: dashed 1px #CCC;
}

/* */
.kreport-component {
  border-top: dotted 1px #DDD;
  margin-top: -1px;
  position: relative;

  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
}

.kreport-component-title {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: -19px;
  opacity: 0.1;
  cursor: pointer;
  transition: opacity ease-in-out 0.3s;
  -moz-transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
}

.kreport-component-content {
  width: 100%;
}

.kreport-component:first-child {
  margin-top: 0px;
  border: none;
}

.kreport-component:last-child {
  border-bottom: dotted 1px #DDD;
}

.kreport-component:hover .kreport-component-title,
.kreport-component.selected .kreport-component-title {
  z-index: 1001;
  opacity: 1;
}

.kreport-component:hover, .kreport-component.selected {
  z-index: 1000;
  box-shadow: 0px 0px 15px 1px #999;
  min-height: 1cm;
}

#kreport-properties-panel {
  height: 200px;
  width: 300px;
}

.property-panel {
  overflow-y: auto;
  width: 100%;
}

.property-panel table {
  width: 100%;
}

.property-panel form {
  width: 100%;
}

/* property grid style */
.property-panel tr {
  /*border-bottom: dotted 1px #AAA;*/
}

.property-panel th {
  text-align: left;
  border-right: solid 1px #AAA;
  border-bottom: dashed 1px #AAA;
  padding: 0;
  width: 100px;
}

.property-panel tr:nth-child(odd)>th {
  background-color: #E0E0E0;
}

.property-panel tr:nth-child(even)>th {
  background-color: #E8E8E8;
}


.property-panel tr:last-child>th {
  border-bottom: none
}

.property-panel td {
  background-color: #FFF;
  padding: 0;
  width: 200px;
}

.property-panel .prop-label {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  margin: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  font-size: x-small;
  display: block;
}

.property-panel .prop-input {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0px !important;
}

/* FIX A BUG IN BOOTSTRAP? */
.controls input[type=text] {
  height: 30px;
}

/* STRIP REPORT */

.stripereport-item {
  position: absolute;
  border: dotted 1px #AAA;
  margin-top: -1px;
  margin-left: -1px;
  background-color: white;
}

.stripereport-stripe {
  height: 0.5cm;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px #EEE;
}

.stripereport-stripe:hover, .stripereport-stripe.selected {
  box-shadow: inset 0px 0px 1px 4px #FDD017;
}

.stripereport-stripe-header {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.1;
  cursor: pointer;

  transition: opacity ease-in-out 0.3s;
}

.stripereport-stripe:hover .stripereport-stripe-header,
.stripereport-stripe.selected .stripereport-stripe-header {
  opacity: 1;
}

.stripereport-stripe-resize {
  cursor: s-resize;
  position: absolute;
  bottom: 0px;
  height: 10px;
  width: 100%;
}